<div class="jumbotron" *ngIf="loginService.isAuthenticated()">
    <h2>
        Bienvenido!
    </h2>
    <p>
        Este este es un sistema de registro de estudiantes donde podremos realizar las siguientes acciones
    </p>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Listar</h5>
                    <p class="card-text">Lista todos los los estudiantes registrados en el sistema.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Buscar</h5>
                    <p class="card-text">Se puede un estudiante por identificaciòn</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Actualizar</h5>
                    <p class="card-text">Se puede actualizar la información de un estudiante.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Registrar</h5>
                    <p class="card-text">Se pueden resgistrar nuevos estudiantes</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Eliminar</h5>
                    <p class="card-text">También se puede eliminar un estudiante.</p>
                </div>
            </div>
        </div>

    </div>




</div>